body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(img/photo-1474540412665-1cdae210ae6b.jpeg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  text-align: center;
  justify-content: left;
  margin-bottom: 20px;
}

h1 {
  text-shadow: 2px 3px 4px #000000;
  align-self: center;
  color:rgb(105, 61, 163);
}

h3 {
  display: flex;
  justify-content: center;
}

.lineChart {
  background-color: rgba(163, 127, 211, 0.644);
  border-radius: 100px;
  padding: 50px;
  border-style: solid;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.links {
  background-color: rgb(105, 61, 163);
  font-family: sans-serif;
  color: aliceblue;
  border-style: solid;
  border-radius: 30%;
  padding: 20px;
  text-decoration: none;
  max-width: fit-content;
  text-shadow: 2px 3px 4px #000000;
}

.data-points {
  display: flex;
  justify-content: center;
}

.event {
  display: flex;
  justify-content: center;
}

.detail {
  display: flex;
  justify-content: center;
}

.notes {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
}

.buttons {
  text-shadow: 2px 2px 4px #000000;
  display: inline-block;
  font-family: sans-serif;
  color: aliceblue;
  background-color: rgb(105, 61, 163);
  border-radius: 100px;
  cursor: pointer;
}

button {
  text-shadow: 2px 2px 4px #000000;
  display: inline-block;
  font-family: sans-serif;
  color: aliceblue;
  background-color: rgb(105, 61, 163);
  border-radius: 100px;
  cursor: pointer;
}

.date {
  display: flex;
  justify-content: center;
}

.event-card {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-radius: 100px;
  background-color: rgba(53, 41, 122, 0.39);
  padding: 20px;
}

.event-card-content {
  display: block;
  justify-content: center;
}

